html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #7eafbb;
}

.header {
  padding: 15x;
  align-items: flex-start;
  background: #072e35;
  border-bottom: 0.2rem solid #526b99;
}

.icon-airplane {
  margin-top: 0.7rem;
  margin-left: 1rem;
  margin-right: 0.5rem;
  width: 40px;
  height: 40px;
  display: block;
}

.page-titel {
  color: #c4cfbe;
}

.container {
  display: flex;
  flex-direction: row;
}

.font-style {
  font-family: sans-serif;
}

.search {
  width: 20rem;
  display: flex;
}

.search-term {
  width: 100%;
  border: .2rem solid #b4b642;
  border-right: none;
  padding: .2rem;
  height: 1.3rem;
  border-radius: .5rem 0 0 .5rem;
  outline: none;
  color: #9DBFAF;
}

.search-term:focus {
  color: #526b99;
}

.search-button {
  width: 3rem;
  height: 2.1rem;
  border: .2rem solid #b4b642;
  background: #e3e63a;
  text-align: center;
  color: #000408;
  border-radius: 0 0.5rem 0.5rem 0;
  cursor: pointer;
  font-size: 1rem;
}

.wrap {
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 6rem;
  margin-top: 5rem;
  border-bottom: 0.1rem solid;
  margin-bottom: 4rem;
}

.filter-container,
.wrap {
  flex: 0 50%;

}

.filter-container label {
  display: block;
  line-height: 20px;
}

.inner-container>div {
  width: 25rem;
  height: 20rem;
  background: #3f7083;
  border: .2rem solid #c4cfbe;
  margin-bottom: 2rem;
}

.container-top {
  display: block;
  margin: 0 auto;
  margin-bottom: 5rem;
  width: 25rem;
  height: 20rem;
  background: #3f7083;
  border: .2rem solid #c4cfbe;
}

.inner-container {
  display: flex;
  justify-content: space-evenly;
}


#footer {
  position: fixed;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  width: 100%;
  bottom: 0;
  height: 0.5rem;
  background: #04181b;
  border-top: 0.1rem solid #526b99;
}