html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("chicago-city.jpg");
  background-size: cover;
}

.page-titel {
  color: #c4cfbe;
  margin-left: 1rem;
  color: #c97b7b;
}

.container {
  display: flex;
  flex-direction: row;
}

.font-style {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#search {
  width: 20rem;
  display: flex;
}

.search-term {
  width: 100%;
  border: .2rem solid #c97b7b;
  border-right: none;
  background: padding-box;
  border-radius: .5rem 0 0 .5rem;
  outline: none;
  color: #9DBFAF;
}

.search-term:focus {
  color: #526b99;
}

.search-button {
  width: 3rem;
  height: 2.1rem;
  border: .2rem solid #c97b7b;
  background: #a55a50;
  text-align: center;
  color: #000408;
  border-radius: 0 0.5rem 0.5rem 0;
  cursor: pointer;
  font-size: 1rem;
}

.wrap {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.container2 {
  box-shadow: 0 20px 20px 0 #00000033, 0 10px 20px 0 #00000030;
  margin: 10px;
  margin-bottom: 50px;
  display: flex;
  background-color: #2b4257;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
}

.filter-container,
.wrap {
  flex: 0 50%;
  color: #c97b7b;
  font-weight: bold;
  font-style: oblique;
}

.filter-container label {
  display: block;
  margin-inline: 30px;
  margin-block: 9px;
}

#weather-container {
  display: flex;
  justify-content: space-evenly;
  align-items: right;
  text-align: center;
}

#attraction-container {
  display: flex;
  justify-content: space-evenly;
  text-align: left;

}

#attraction-container>div {
  box-shadow: 0 20px 20px 0 #00000033, 0 10px 20px 0 #00000030;
  width: 15rem;
  height: 20rem;
  background: #884c4c;
  border: .2rem solid #c4cfbe;
  margin-bottom: 2rem;
  opacity: 0.8;
}

#weather-container>div {
  box-shadow: 0 20px 20px 0 #00000033, 0 10px 20px 0 #00000030;
  width: 25rem;
  height: 15rem;
  background: #884c4c;
  border: .2rem solid #c4cfbe;
  margin-bottom: 4rem;
  opacity: 0.8;
}

#error-container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-size: xx-large;
}